.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  margin: 0px 15px;
  position: relative;
}

main{
  position: relative;
  display: inline-block;
  justify-content:flex-start;
  left: 365px;
  right: 365px;
  bottom: 25px;
  max-width: 600px;
  width: 100%;
  
}

.article{
  display: block;
  width: 100%;
  border: rgba(89, 89, 89, 0.5);
  cursor: pointer;
  padding: 5px;
}

.article:hover{
  background-color: #c8c8c87d;
  transition: 0.3s;
}

button{
  cursor: pointer;
}

.sideBar{
  margin: 15px;
  padding: 15px;
  position: fixed;
  right: auto;
  height: 100%;
  border-color: black;
}
.bar{
  position: fixed;
  bottom: 0;
  margin: 0px auto;
  left: 365px;
  right: 365px;
  display:flex;
  flex-direction: row;
  border-top: solid #282c34;
  background-color: white;
  
}

.bottomBarBtn{
  
  border-radius: 15px;
  margin: 0px auto;
  padding: 0px 15px;
}

.bottomBarBtn:hover{
  background-color: rgba(181, 173, 233, 0.54);
  transition: 0.3s;
}

.profilePhoto{
  border-radius: 9999px;
  width: 100px;
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
